<head>
  <meta charset="utf-8">
  <title>Coffee Master</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add your meta tags below -->
  <meta name="description" content="Coffee shop web site with coffee from Peru">
  <meta name="keywords" content="Coffee, Master, with, Peru Coffee">
  <meta name="author" content="Coffee Master">

  <!-- Add any additional meta tags as needed -->

  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <cs-navbar></cs-navbar>
  <router-outlet></router-outlet>
</body>