body{
    background-color: #676d3c;
}
.container2{
 display: flex;
 justify-content: center;
 justify-content: space-evenly;
  margin: 3% 5%;
}
@media (max-width:414px) {
  .container2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
