.container {
  display: flex;
  flex-direction: column;
  margin: 48px 48px 0px 48px;
  height: auto;
  width: 900px;
  border-radius: 8px;
  border: 1px solid #d1d9e6;
  background: #fbfbec;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.08);
  padding: 16px 20px;
  color: #676d3c;
  font-weight: bold;
}
h3{
    color: #676d3c;
}

.info {
  display: flex;
  flex-direction: column;
}
a {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
iframe {
  width: 900px;
  height: 100px;
  margin: 0px 48px 48px 48px;
  border-radius: 8px;
  border: 1px solid #d1d9e6;
}
