<div class="category">
    <h3> Products Categories</h3>
    <div class=" list">
        <div *ngFor="let category of categories" class="card">
            <a  class ="name" >
                <div class="card-in">
                    <button (click)="setCategoryByUser(category?.name)" (click)="selectCategory()">{{ category?.name}}</button>
                    <img src="{{ category?.imagePath }}" alt="{{ category?.name }} Image">
                </div>
            </a>
        </div>
    </div>
</div>