<div class="containers" *ngIf="!isSubmitted">
    <div class="container product-list">
        <h5 style=" width: 200px;">
            <cs-svg-order-form [svgName]="'basketProductSVG'">
            </cs-svg-order-form>
            Your Products
        </h5>
        <cs-cart-product [cartProducts]="cartProductsFromOrderpage"></cs-cart-product>
    </div>
    <div class="container form-area">

        <h5>
            <cs-svg-order-form [svgName]="'OrderBoxSVG'">
            </cs-svg-order-form>
            Finish your order
        </h5>
        <hr>
        <section>
            <cs-order-for-unregister-user class="block-left"
                *ngIf="!auth.isAuthenticated"></cs-order-for-unregister-user>
            <cs-order-for-register-user class="block-left" *ngIf="auth.isAuthenticated"></cs-order-for-register-user>
            
            <div class="vl"></div>
            <div class="order-form">
                <h4>
                    <cs-svg-order-form [svgName]="'FormH4SVG'">
                    </cs-svg-order-form>
                    Your delivery information
                </h4>
                <hr>
                <form [formGroup]="orderForm">
                    <div class="icon-form">
                        <cs-svg-order-form [svgName]="'emailSVG'" [validForm]="validationField('email')"
                            [invalidForm]="validationField('email') ">
                        </cs-svg-order-form>
                        <input formControlName="email" [class.invalid]="orderForm.get('email')?.invalid &&
                        (orderForm.get('email')?.dirty || orderForm.get('email')?.touched)"
                            [class.valid]="orderForm.get('email')?.valid" type="email"
                            placeholder="{{MessagePlaceholder('email','Email')}}">
                    </div>
                    <div class="icon-form">
                        <cs-svg-order-form [svgName]="'regionSVG'" [validForm]="validationField('region')"
                            [invalidForm]="validationField('region') ">
                        </cs-svg-order-form>
                        <input formControlName="region" [class.invalid]="orderForm.get('region')?.invalid &&
                        (orderForm.get('region')?.dirty || orderForm.get('region')?.touched)"
                            [class.valid]="orderForm.get('region')?.valid" type="text"
                            placeholder="{{MessagePlaceholder('region','Region')}}">
                    </div>
                    <div class="icon-form">
                        <cs-svg-order-form [svgName]="'CountrySVG'" [validForm]="validationField('country')"
                            [invalidForm]="validationField('country') ">
                        </cs-svg-order-form>
                        <input formControlName="country" [class.invalid]="orderForm.get('region')?.invalid &&
                        (orderForm.get('country')?.dirty || orderForm.get('country')?.touched)"
                            [class.valid]="orderForm.get('country')?.valid" type="text"
                            placeholder="{{MessagePlaceholder('country','Country')}}">
                    </div>
                    <div class="icon-form">
                        <cs-svg-order-form [svgName]="'addressSVG'" [validForm]="validationField('address')"
                            [invalidForm]="validationField('address') ">
                        </cs-svg-order-form>
                        <input formControlName="address" [class.invalid]="orderForm.get('address')?.invalid &&
                        (orderForm.get('address')?.dirty || orderForm.get('address')?.touched)"
                            [class.valid]="orderForm.get('address')?.valid" type="text"
                            placeholder="{{MessagePlaceholder('address','Address')}}">
                    </div>
                    <div class="icon-form"> <cs-svg-order-form [svgName]="'TelefonSVG'"
                            [validForm]="validationField('telephone')" [invalidForm]="validationField('telephone') ">
                        </cs-svg-order-form><input formControlName="telephone" [class.invalid]="orderForm.get('telephone')?.invalid &&
                        (orderForm.get('telephone')?.dirty || orderForm.get('telephone')?.touched)"
                            [class.valid]="orderForm.get('telephone')?.valid" type="text"
                            placeholder="{{MessagePlaceholder('telephone','Phone Number')}}">
                    </div>
                    <div class="icon-form"> <cs-svg-order-form [svgName]="'postCodeSVG'"
                            [validForm]="validationField('postCode')" [invalidForm]="validationField('postCode') ">
                        </cs-svg-order-form>
                        <input formControlName="postCode" [class.invalid]="orderForm.get('region')?.invalid &&
                        (orderForm.get('region')?.dirty || orderForm.get('region')?.touched)"
                            [class.valid]="orderForm.get('postCode')?.valid" type="text"
                            placeholder="{{MessagePlaceholder('postCode','Post Code')}}" placeholder="Post code">
                    </div>
                </form>
            </div>
        </section>
        <hr>
        <button (click)="onSubmit()"> Finish </button>
    </div>
    
</div>
<cs-ordersent *ngIf="isSubmitted"></cs-ordersent>

<footer></footer>