.containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h5 {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #676d3c;
  margin: 16px 0px;
  font-size: 25px;
}
h4 {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #676d3c;
  margin: 16px 0px;
  font-size: 19px;
}
h4 svg{
    margin-top: 5px;
}
svg {
  margin-right: 10px;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 8px;
  border: 1px solid #fbfbec;
  background: #fbfbec;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.08);
  padding: 32px 48px;
  margin: 64px;
  flex-wrap: nowrap;
}

hr {
  color: #676d3c;
  width: 100%;
}

.product-list {
  height: auto;
}
.vl {
  border-radius: 20px;
  margin: 16px 24px;
  height: auto;
  border-left: 1px solid #676d3c;
  opacity: 0.25;
}
.block-left {
  display: flex;
  align-items: center;
}
input {
  border-radius: 60px;
  border: 1px solid #676d3c;
  background: #fff;
  height: 48px;
  text-align: center;
}

section {
  display: flex;
  flex-direction: row;
}

.order-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
form{
  display: flex;
  align-items: center;
  
}

input {
  display: flex;
  justify-content: center;
  color: black;
  
  font-size: 16px;
  border-radius: 60px;
  border: 1px solid #676d3c;
  background:  #FFF;
  height: 48px;
  padding: 12px 44px;
  text-align: left;
  font-size: 20px;
  width: 300px;
  height: 36px;
}
input[type="submit"] {
  color: #eaebe1;
  font-weight: bold;
  padding: 0px 3px;
  background-color: #676d3c;
  text-align: center;
}
cs-svg-order-form{
  position: relative;
  margin-right: 10px;
}
.icon-form{
  display: flex;

}
.row {
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}
.invalid{
  border: 2px solid red;
  fill: red;
}.valid{
  border: 2px solid green;
  fill: green;
}
button {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-radius: 60px;
  font-weight: bold;
  color: #fbfbec;
  border: 1px solid #676d3c;
  background: #676d3c;
}

@media (max-width: 876px) {
  .containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 9px;
    flex-wrap: nowrap;
    align-items: center;
  }
}

footer {
  background-color: #fbfbec;
}
