<div style="display: flex; justify-content: center; margin: 6% 0px;">
   <div class="box">
      <h1>Sign Up</h1>
      <div>
         <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="fields">
               <div *ngIf="signUpForm.get('password')?.invalid &&
               (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)" class="alert alert-danger"
                  role="alert">
                  <b>The Passsword should have min 8 characters, one symbol, mine one uppercase, min one lowercase and
                     on
                     digit or number!</b>
               </div>
               <div *ngIf="isSubmitted" class="alert alert-success" role="alert">
                  <b>You register with success!</b>
               </div>
               <div class="icon">
                  <cs-svg-sign-up  [svgName]="'nameSVG'"
                     [validForm]="validationField('firstName')" [invalidForm]="validationField('firstName') ">
                  </cs-svg-sign-up>
                  <input formControlName="firstName" (input)="onUserInput($event)" [class.invalid]="signUpForm.get('firstName')?.invalid &&
                  (signUpForm.get('firstName')?.dirty || signUpForm.get('firstName')?.touched)"
                     [class.valid]="signUpForm.get('firstName')?.valid" type="text"
                     placeholder="{{MessagePlaceholder('firstName','First Name')}}">
               </div>
               <div class="icon">
                  <cs-svg-sign-up  [svgName]="'nameSVG'"
                  [validForm]="validationField('lastName')" [invalidForm]="validationField('lastName') ">
               </cs-svg-sign-up>
                  <input formControlName="lastName" (input)="onUserInput($event)" [class.invalid]="signUpForm.get('lastName')?.invalid &&
                  (signUpForm.get('lastName')?.dirty || signUpForm.get('lastName')?.touched)" type="text"
                     [class.valid]="signUpForm.get('lastName')?.valid" type="text"
                     placeholder="{{MessagePlaceholder('lastName','Last Name')}}">
               </div>
               <div class="icon">
                  <cs-svg-sign-up  [svgName]="'emailSVG'"
                     [validForm]="validationField('email')" [invalidForm]="validationField('email') ">
                  </cs-svg-sign-up>
                  <input formControlName="email" (input)="onUserInput($event)" [class.invalid]="signUpForm.get('email')?.invalid &&
                  (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)"
                     [class.valid]="signUpForm.get('email')?.valid" type="text"
                     placeholder="{{MessagePlaceholder('email','Email')}}">
               </div>
               <div class="icon">
                  <cs-svg-sign-up  [svgName]="'passwordSVG'"
                     [validForm]="validationField('password')" [invalidForm]="validationField('password') ">
                  </cs-svg-sign-up>
                  <input formControlName="password" (input)="onUserInput($event)" [class.invalid]="signUpForm.get('password')?.invalid &&
                  (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)"
                     [class.valid]="signUpForm.get('password')?.valid" type="password"
                     placeholder="{{MessagePlaceholder('password','Password')}}">
               </div>
               <div class="checkbox-newsletter">
                  <input formControlName="isSubscripToNewsletter" type="checkbox">
                  <label for="vehicle1"> Subscribe to our newsletter to stay in touch with us!</label>
               </div>
               <div><input type="submit" value="Sign up"></div>
            </div>
            <p><b>Already have an account.<a [routerLink]="['/sign-in']"> Sign In</a></b></p>
         </form>
      </div>
   </div>
</div>