<div class="container-socialMed">
    <a href="#facebook">
        <cs-svg-footer [svgCategory]="'socialMedia'" [svgName]="'facebookSVG'"></cs-svg-footer>
        <p>Coffee Master</p>
    </a>
    <a href="#Instagram">
        <cs-svg-footer [svgCategory]="'socialMedia'" [svgName]="'instagramSVG'"></cs-svg-footer>
        <p>Coffee_Master</p>
    </a>
    <a href="#Tiktok">
        <cs-svg-footer [svgCategory]="'socialMedia'"  [svgName]="'tiktogSVG'"></cs-svg-footer>
        <p>Coffee Master</p>
    </a>
    <a href="#Snapchat">
        <cs-svg-footer [svgCategory]="'socialMedia'" [svgName]="'snapchatSVG'"></cs-svg-footer>
        <p>Coffee Master</p>
    </a>
</div>