<div class="container-socialMed">

    <a href="#facebook">
        <cs-svg-icon [svgName]="'facebookSVG'"></cs-svg-icon>
        <p>Coffee Master</p>
    </a>
    <a href="#Instagram">
        <cs-svg-icon [svgName]="'instagramSVG'"></cs-svg-icon>
        <p>Coffee_Master</p>
    </a>
    <a href="#Tiktok">
        <cs-svg-icon [svgName]="'tiktogSVG'"></cs-svg-icon>
        <p>Coffee Master</p>
    </a>
    <a href="#Snapchat">
        <cs-svg-icon [svgName]="'snapchatSVG'"></cs-svg-icon>
        <p>Coffee Master</p>
    </a>
</div>