.container-socialMed {
  padding: 20px 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

p {
  font-size: 15px;
  font-weight: bold;
  padding: 0px 10px;
  color: #676d3c;
}
@media (max-width: 414px) {
}
