div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
button {

  margin: 5px 3px;
  background: #9cc4c4;
  border-radius: 8px;
  border: 1px solid #9cc4c4;
  color: white;
  font-weight: bold;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.08);
  padding: 3px 9px;
  width: 50px;
  cursor: pointer;
}

button:hover {
  animation: grow 0.6s;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

@keyframes grow {
  from {
  }
  to {
    color: #fafbec;
    background-color: #676d3c;
    border-radius: 0px;
    font-weight: bold;
    border: 1px solid #676d3c;
  }
}
span {
  font-size: 25px;
  margin: 0 10px;
  color: #676d3c;
  font-weight: bolder;
}
