<nav class="navbar">
  <div class="brand">
    <img href="#home" src="assets/images/logo.png" alt="image">
    <a routerLink="">Coffee Master</a>
  </div>
  <div class="menu-icon" [class.menu_icon_class]="menuIconVariabel" (click)="openMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul [class.menuClass]="hamburgerVariabel">
    <li><a routerLink="Home">Home</a></li>
    <li><a routerLink="/products-list">Products</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <div *ngIf="!auth.isAuthenticated">
    <ul *ngIf="menuType==='Home'" class="signUP" [class.menuClass]="hamburgerVariabel">
      <li><a [routerLink]="['/sign-in']">Sign In</a></li>
    </ul>
  </div>
  <ul *ngIf="auth.isAuthenticated" [class.welcome]="auth.isAuthenticated" [class.menuClass]="hamburgerVariabel">
    <li ><a routerLink="userInfo">Welcome {{auth.getName}}</a></li>
    <li><button (click)="auth.logout()">Logout </button></li>
  </ul>
</nav>