.cart-dropdown {
  position: absolute;
  top: 100%;
  right: 1.5%;
  font-size: 15px;
  cursor: pointer;
  height: auto;
  width: 280px;
  border: 1px solid #fbfbec;
  background: #fbfbec;

  font-weight: bold;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 24px;
}

h5 {
  color: #b1b691;
  display: flex;
  justify-content: center;
}

.cart-dropdown a {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: #fbfbec;
  padding: 10px;
  text-decoration: none;
  background: #9cc4c4;
  border-radius: 8px;
  border: 1px solid #9cc4c4;
}
