img{
  position: relative;
  bottom: -70px;
  padding: 14px 13px;
  border-radius: 150px;
  width: 200px;
  height: 200px;
}
.container-footer {
  padding: 19px 13px;
  display: flex;
  justify-content: start;
}
.news-letter-container{
 
}
@media (max-width:414px) {}