.navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: #fbfbec;
    
}
.brand{     
    margin: 0 2%;
    display: flex;
    flex-wrap: nowrap;
}
.brand img{
    border-radius: 100px;
    image-rendering: crisp-edges;;
    width: 65px;
    height: 65px;
    margin-right: 5%;
    object-fit: cover;
}
.brand a{
    width: 370px;
    margin: 0 3%;
    height: 32px;
    padding: 15px 16px;;
    color: #676d3c;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menuClass{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 450px;
}

li {
  margin:0 5% ;
  float: left;
}
li a {
  display: block;
  font-weight: bold; 
  color: #676d3c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:  sans-serif;
}
li a:hover{
    border-radius: 25px;
    font-weight: bold; 
    color: #fff;
    background-color: #b0b699;
}
.signUP{
    display: flex;
    justify-content: right;
    width: 200px;
    text-align: right;
    font-family:  sans-serif;
}
@media (max-width:1126px){
  .signUP{
    width: 140px;
  }
}
@media (max-width:1031px){
  .signUP{
    width: 95px;
  }
  ul{
    width: 320px;
  }
  li{
    margin: 0;
  }
}
@media (max-width:876px){
  ul{
    position: absolute;
    right: 0;
    top: 81px;
    background: #fbfbec;
    width: 200px;
  }
  li{
    float: none;
    height: 60px;
  }
  .signUP{
    display: block;
    font-weight: bold; 
    text-align: center;
    text-decoration: none;
    font-family:  sans-serif;
    justify-content: none;
    width: 200px;
    top: 256.6px;
    height: 50px;
  
  }
  .signUP :hover{
    background: #b0b699;
  }
  li a:hover{
    border-radius: 2px;
  }
  .menu-icon{
    display: inline;
    position: relative;
    right: 73.5px;
  } 
  .menu-icon span{
       width: 35px;
       height: 5px;
       background: #676d3c;
       display: block;
       border-radius: 40px;
       border-top: 13px #fbfbec;
  }
  .menu-icon span:nth-child(2){
    margin: 3px 0;
  }
  .menu_icon_class span:nth-child(2){
    display: none;
    top: 25px;
    height: 1px;
  }
  .menu_icon_class span:nth-child(1){
    display: none;
    top: 25px;
    height: 1px;
  }
  .menuClass{
    right: -730px;
    top: 56px;
    transition: 0.05s ease-in-out;
    justify-content: none;
  }
  
}
@media (max-width:414px){
  .menu-icon{
    display: inline;
    position: relative;
    left: 327.5px;
    top: -40px;
  } 
  .ul{
    left: 780px;
  }
 
}