.products {
  margin: 10% 5%;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  border-radius: 8px;
  border: 1px solid #d1d9e6;
  background: #fbfbec;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.08);
  padding: 32px 48px;
}

footer {
  background-color: #fafbec;
  border: 1px solid #d1d9e6;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.08);
}
.card {
  height: auto;
  width: 400px;
  border-radius: 10px;
  border: 1px solid #d1d9e6;
  background: #676d3c;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.08);
  margin: 5%;
}
.card-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 32px;
}
.card img {
  object-fit: cover;
  width: 300px;
  height: 250px;
  border-radius: 25px;
}
.card p {
  font-weight: bold;
  color: white;
  margin: 0px;
  padding: 5px 2px;
}

.card button {
  background: #9cc4c4;
  border-radius: 8px;
  border: 1px solid #9cc4c4;
  color: white;
  font-weight: bold;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.08);
  padding: 10px 13px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card button svg {
  margin-right: 5px;
}

.card img:hover {
  content: "stuff";
}

h5 {
  margin: 0;
}
@media (max-width: 414px) {
  .card img {
    width: 200px;
    height: 150px;
  }
}
@media (max-width: 390px) {
  .card img {
    width: 200px;
    height: 150px;
  }
}
