img {
  position: relative;
  bottom: -30px;
  padding: 14px 13px;
  border-radius: 150px;
  width: 200px;
  height: 200px;
}

.container-footer {
  padding: 19px 13px;
  display: flex;
  justify-content: start;
}

@media (max-width: 414px) {
  .container-footer {
    padding: 19px 13px;
    display: flex;
    flex-direction: column;
  }
  img {
    position: relative;
    bottom: 10px;
    left: 80px;
    padding: 14px 13px;
    border-radius: 150px;
    width: 180px;
    height: 180px;
  }
}
