.box{
    

    width: 500px;
    padding: 24px 32px;
    border-radius: 30px;
    background-color: #fafbec;
    border: 1px solid #d1d9e6;
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.08);
}
h1{
    display: flex;
    margin-bottom: 24px;
    justify-content: center;
}
.fields{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:24px
}
input{
    color: black;
    font-size: 20px;
    width: 350px;
    font-size: 16px;
    border-radius: 60px;
    border: 1px solid #676d3c;
    background:  #FFF;
    height: 48px;
    padding: 12px 44px;
    text-align: start;
}
input[type=submit]{
    margin: 48px 15px;
    color: #eaebe1;
    font-weight: bold;
    padding: 0px 3px;
    background-color:#676d3c; 
    text-align: center;
}
.icon{
    margin-right: 10px;
}
.icon svg{
    position: relative;
    left: 35px;
    bottom: 2px;
}
p{
    display: flex;
    justify-content: center;
    color: #4e5322;
}
a{
    text-decoration: none;
    color: #1764ca;
}
.invalid{
    border: 2px solid red;
    fill:  red;
}
.valid{
    border: 2px solid green;
    fill:  green;
}