.container-socialMed{
    padding: 20px 28px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
svg{
    width: 35px;
    height: 35px;
    color: #93abca;;
}
a{ 
    text-decoration: none;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
}
p{
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px;
    color: #676d3c;
}
@media (max-width:414px) {}