<div class="container">
    <div class="title">
        <cs-svg-icon class="svg" [svgName]="'newsletterSVG'" ></cs-svg-icon>
        <h3><b>Subscribe to our Newsletter</b></h3>
    </div>
    <div class="form">
        <form [formGroup]="newsLetterForm" (ngSubmit)="onSubmit()">
            <div class="fields">
                <input formControlName="fullName" (input)="onUserInput($event)" [class.invalid]="newsLetterForm.get('fullName')?.invalid &&
                (newsLetterForm.get('fullName')?.dirty ||
                newsLetterForm.get('fullName')?.touched)" type="text" placeholder="{{ MessagePlaceholder('fullName')}}"
                    [class.valid]="newsLetterForm.get('fullName')?.valid">
                <input formControlName="email" (input)="onUserInput($event)" [class.invalid]="newsLetterForm.get('email')?.invalid &&
                  (newsLetterForm.get('email')?.dirty || newsLetterForm.get('email')?.touched )"
                    [class.valid]="newsLetterForm.get('email')?.valid" type="text"
                    placeholder="{{MessagePlaceholder('email')}}">
            </div>
            <input type="submit" [class.disabled]="isSubmitted" value="Submit">
        </form>
    </div>
</div>