*,*::before,*::after{
  box-sizing: border-box;
}
.slide {
  width: 1000px;
  height: 500px;
  border-radius: 15px;
  
  
  background-position: center;
  object-fit: contain;
  object-position: 80% 100%;
}

.rightArrow {
  position: absolute;
  top: 346px;
  transform: translate(0, -50%);
  right: 5%;
  font-size: 150px;
  color: rgba(254,250,239, .1);
  z-index: 1;
  cursor: pointer;
}

.rightArrow:hover{
  color: rgba(255, 255, 255, .9);
}

.leftArrow:hover{
  color: rgba(254,250,239, .9);
}
.leftArrow {
  position: absolute;
  top: 346px;
  transform: translate(0, -50%);
  left: 5%;
  font-size: 150px;
  color: rgba(254,250,239, .25);
  z-index: 1;
  cursor: pointer;
}

.slider {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}
.dot {
  font-size: 45px;
  color:rgba(251,251,236, .85);
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}
.dot:hover{
   color:rgba(31,32,28, .95);
}
@media (max-width:1380px) {
  .leftArrow{
    left: 5%;
    font-size: 100px;
    top:285px
  }
  .rightArrow{
    right: 5%;
    font-size: 100px;
    top:285px
  }
  .slide{
    width: 667px;
    height: 400px;
  }
}
@media (max-width:414px) {
  .slide{
    width: 267px;
    height: 175px;
  }
  .leftArrow{
     font-size: 40px;
     top:231px
  }
  .rightArrow{
    font-size: 40px;
    top:231px
  }
}